* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#nuur {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#menu {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;
  gap: 24px;
  background-color: #f5f5f7;
  padding-left: 31px;
}
.telephone2 {
  display: flex;
  gap: 10px;
}
.vector5 {
  width: 17.6px;
  height: 15.12px;
}
.vector6 {
  width: 16.05px;
  height: 16.03px;
}
.button {
  display: none;
}

#tolgoi {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 31px;
}
#black {
  position: relative;
  background-image: url(./iphone16pro.jpg);
  height: 692px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .four {
  position: absolute;
  width: 405px;
  height: 172px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 340px;
} */
.iphone {
  color: white;
  font-size: 52px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.apple {
  font-size: 24px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.hamt {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 390px;
}
.learn {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy {
  width: 68px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iphone1 {
  color: white;
  font-size: 52px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.apple1 {
  font-size: 24px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.hamt1 {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 390px;
}
.learn1 {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy1 {
  width: 68px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blue {
  height: 692px;
  background-image: url(./iphone16.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pink {
  height: 692px;
  background-image: url(./beleg\ apple.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seven {
  width: 405px;
  height: 164px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 400px;
}
.phone {
  color: black;
  font-size: 52px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  font-size: 24px;
  font-weight: 400;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.eigth {
  width: 114px;
  height: 44px;
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 145.5px;
}

#dad {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px;
}
.child {
  width: 100%;
  height: 580px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
}
.neg {
  background-image: url(./ipad.jpg);
  background-position: center;
  background-size: cover;
}
.hoyr {
  background-image: url(./people.jpg);
  background-position: center;
  background-size: cover;
}
.gurv {
  background-image: url(./watch.jpg);
  background-position: center;
  background-size: cover;
}
.durv {
  background-image: url(./mac.jpg);
  background-position: center;
  background-size: cover;
}
.tav {
  background-image: url(./two\ phone.jpg);
  background-position: center;
  background-size: cover;
}
.dog3 {
  width: 257px;
  height: 72px;
  font-size: 30px;
  font-weight: 700;
}
.dog4 {
  width: 257px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
}
.dog5 {
  width: 107px;
  height: 36px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 113, 227, 1);
}
.zurga {
  background-image: url(./card.jpg);
  background-position: center;
  background-size: cover;
}
.sizes {
  color: black;
}
.air {
  margin-top: 58px;
}
.paris {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.paris2 {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.paris3 {
  gap: 16px;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.cat2 {
  font-size: 36px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 380px;
}
.cat3 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat4 {
  font-size: 36px;
  font-weight: 600;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}
.key5 {
  font-size: 36px;
  font-weight: 600;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}
.cat5 {
  width: 241px;
  height: 69px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}
.key6 {
  width: 241px;
  height: 69px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}
.what {
  font-size: 32px;
  font-weight: 700;
}

.series {
  font-size: 15px;
  font-weight: 700;
}
.uvul {
  margin-top: 48px;
}
.house {
  font-size: 36px;
  font-weight: 600;
}
.get {
  width: 167px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
}
.dog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.dog10 {
  display: none;
}
.dog6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.dog7 {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.dog8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.dog9 {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.energy {
  width: 314px;
  height: 36px;
  font-size: 30px;
  font-weight: 700;
}
.energy2 {
  width: 314px;
  height: 60px;
  font-size: 18px;
  font-weight: 400;
}
.energy3 {
  width: 126px;
  height: 36px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 113, 227, 1);
}
.doloo {
  display: none;
}
.learn2 {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy2 {
  width: 68px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn3 {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy3 {
  width: 68px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paris4 {
  display: none;
}
.key10 {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 320px;
}
.tugsgul {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  flex-direction: row;
}
#tugs1 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(./napoleon.jpg);
}
#tugs2 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(./bad-monkey.jpg);
}
#tugs3 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(./instigators.jpg);
}
#tugs4 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(./k-pop-idols.jpg);
}
#tugs5 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(./season-pass.jpg);
}
#tugs6 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(./pressumed-innocent.jpg);
}
#tugs7 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(./pachinko.jpg);
}
#tugs8 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(./baseball.jpg);
}
#tugs9 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(./lady-in-the-lake.jpg);
}
.lolo {
  display: flex;
  align-items: center;
  gap: 10px;
}
button {
  width: 133px;
  height: 44px;
  background-color: white;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.drama {
  color: white;
  font-size: 17px;
  font-weight: 400;
}
#tugs10 {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
  background-image: url(morning-show.jpg);
}
.bullets {
  display: flex;
  margin-top: 14px;
  margin-bottom: 20px;
  justify-content: center;
}
.mult {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  margin-inline: 7px;
  border-radius: 50%;
  background-color: #0000006b;
}
.key2 {
  display: none;
}
.key3 {
  display: none;
}
.key4 {
  display: none;
}
.young {
  display: flex;
  gap: 12px;
  width: 100%;
}
.young2 {
  display: flex;
  gap: 12px;
  width: 100%;
}
.young3 {
  display: flex;
  gap: 12px;
  width: 100%;
}
.lolo {
  display: flex;
}
/* mobile */
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .button {
    display: block;
  }
  .telephone {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  #menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  #tolgoi {
    margin-top: 48px;
    padding-block: 12px;
  }
  #black {
    display: flex;
    background-image: url(./media1.jpg);
    background-position: center;
    background-size: cover;
  }
  #blue {
    background-image: url(./media2.jpg);
    background-position: center;
    background-size: cover;
  }
  #pink {
    display: flex;
    background-image: url(./ipad.jpg);
    background-position: center;
    background-size: cover;
  }
  .iphone {
    font-size: 30px;
    font-weight: 700;
    padding-top: 850px;
  }
  .apple {
    font-size: 24px;
    font-weight: 400;
  }
  .hamt {
    column-gap: 12px;
  }
  .buy {
    padding: 8px 16px;
  }
  .learn {
    padding: 8px 16px;
  }
  .iphone1 {
    font-size: 30px;
    font-weight: 700;
  }
  .apple1 {
    font-size: 24px;
    font-weight: 400;
  }
  .hamt1 {
    column-gap: 12px;
    padding: 0px;
    padding-bottom: 350px;
  }
  .buy1 {
    padding: 8px 16px;
  }
  .learn1 {
    padding: 8px 16px;
  }
  .neg {
    background-image: url(./magic1.jpg);
    background-position: center;
    background-size: cover;
  }
  .hoyr {
    display: none;
  }
  .gurv {
    background-image: url(./magic2.jpg);
    background-position: center;
    background-size: cover;
  }
  .tav {
    background-image: url(./magic4.png);
    background-position: center;
    background-size: cover;
  }
  .zurga {
    background-image: url(./magic5.jpg);
    background-position: center;
    background-size: cover;
  }
  .doloo {
    display: block;
    background-image: url(./two\ phone.jpg);
    background-position: center;
    background-size: cover;
  }
  .cat2 {
    display: none;
  }
  .cat3 {
    display: none;
  }
  .cat4 {
    display: block;
    padding-top: 350px;
  }
  .cat5 {
    display: block;
  }
  .paris {
    display: none;
  }
  .paris3 {
    display: flex;
  }
  .dog6 {
    display: none;
  }
  .dog7 {
    display: flex;
    padding-top: 42px;
  }
  .key3 {
    display: none;
    gap: 10px;
  }
  .key4 {
    display: none;
  }
  .key5 {
    display: block;
  }
  .key6 {
    display: block;
  }
  .paris4 {
    display: flex;
  }
  .key10 {
    display: flex;
    flex-direction: column;
  }
  .key9 {
    display: flex;
    flex-direction: column;
  }
  .what {
    padding-right: 65px;
  }
  .dog2 {
    display: none;
  }
  .dog8 {
    display: none;
  }
  .dog9 {
    display: flex;
    padding-top: 341px;
  }
  .young {
    display: flex;
    flex-direction: column;
  }
  .young2 {
    display: flex;
    flex-direction: column;
  }
  .young3 {
    display: flex;
    flex-direction: column;
  }
  #tugs1 {
    width: 274px;
    height: 495px;
    background-image: url(./tugs1.jpg);
    background-position: center;
    background-size: cover;
  }
  #tugs2 {
    width: 274px;
    height: 495px;
    background-image: url(./tugs2.jpg);
    background-position: center;
    background-size: cover;
  }
  #tugs3 {
    width: 274px;
    height: 495px;
    background-image: url(./tugs3.jpg);
    background-position: center;
    background-size: cover;
  }
  #tugs4 {
    width: 274px;
    height: 495px;
    background-image: url(./tugs4.jpg);
    background-position: center;
    width: 274px;
    height: 495px;
    background-position: center;
    background-size: cover;
  }

  #tugs5 {
    width: 274px;
    height: 495px;
    background-image: url(./tugs5.jpg);
    background-position: center;
    background-size: cover;
  }
  #tugs6 {
    width: 274px;
    height: 495px;
    background-image: url(./tugs6.jpg);
    background-position: center;
    background-size: cover;
  }
  #tugs7 {
    width: 274px;
    height: 495px;
    background-image: url(./tugs7.jpg);
    background-position: center;
    background-size: cover;
  }
  #tugs8 {
    width: 274px;
    height: 495px;
    background-image: url(./tugs8.jpg);
    background-position: center;
    background-size: cover;
  }
  #tugs9 {
    width: 274px;
    height: 495px;
    background-position: center;
    background-size: cover;
  }
  #tugs10 {
    width: 274px;
    height: 495px;
    background-position: center;
    background-size: cover;
  }
  button {
    display: none;
  }
  .drama {
    display: none;
  }
  .seven {
    display: none;
  }
  .dog10 {
    display: block;
    padding-bottom: 500px;
  }
  .air {
    padding-left: 60px;
  }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: none;
  }
  .button {
    display: block;
  }
  .telephone {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  #menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  #tolgoi {
    margin-top: 48px;
    padding-block: 12px;
  }
  #black {
    background-image: url(./pro77.jpg);
    background-position: center;
    background-size: cover;
  }
  #blue {
    background-image: url(./pro777.jpg);
    background-position: center;
    background-size: cover;
  }
  #pink {
    display: flex;
    background-image: url(./ipad.jpg);
    background-position: center;
    background-size: cover;
  }
  /* .hoyr {
    width: 366px;
    height: 490px;
    background-image: url(./magic1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
  } */
  .seven {
    display: none;
  }
  .dog10 {
    display: block;
    justify-content: center;
    align-items: center;
    padding-bottom: 400px;
  }
  .air {
    padding-left: 60px;
  }
  .dad {
    display: flex;
    justify-content: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
  }
  .child {
    height: 490px;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .neg {
    background-image: url(./magic1.jpg);
    background-position: center;
    background-size: cover;
  }
  .hoyr {
    background-image: url(./magic2.jpg);
    background-position: center;
    background-size: cover;
  }
  .gurv {
    background-image: url(./magic4.png);
    background-position: center;
    background-size: cover;
  }
  .durv {
    background-image: url(./mac.jpg);
    background-position: center;
    background-size: cover;
  }
  .tav {
    background-image: url(./magic5.jpg);
    background-position: center;
    background-size: cover;
  }
  .zurga {
    display: none;
  }
  .doloo {
    background-image: url(./two\ phone.jpg);
    background-position: center;
    background-size: cover;
  }
  .get {
    width: 150px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
  }
  .sizes {
    width: 285px;
    height: 40px;
  }
  .dog2 {
    display: none;
  }
  .cat4 {
    padding-top: 280px;
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: white;
    justify-content: center;
    align-items: center;
  }
  .cat5 {
    display: block;
    font-size: 18px;
    justify-content: center;
    align-items: center;
  }
  .paris3 {
    display: flex;
  }
  .learn3 {
    width: 107px;
    height: 36px;
    background-color: #0071e3;
    color: white;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buy3 {
    width: 66px;
    height: 36px;
    border-radius: 999px;
    border: 1px solid rgba(41, 151, 255, 1);
    color: rgba(41, 151, 255, 1);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .key {
    display: none;
  }
  .cat {
    display: none;
  }
  .what {
    padding-right: 65px;
    font-size: 28px;
    font-weight: 700;
  }
  .series {
    font-size: 13px;
    font-weight: 700;
  }
  .sizes {
    font-size: 18px;
    font-weight: 400;
  }
  .learn2 {
    width: 107px;
    height: 36px;
    background-color: #0071e3;
    color: white;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buy2 {
    width: 66px;
    height: 36px;
    border-radius: 999px;
    border: 1px solid rgba(41, 151, 255, 1);
    color: rgba(41, 151, 255, 1);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .key2 {
    display: block;
  }
  .key3 {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .dog3 {
    font-size: 30px;
    font-weight: 700;
  }
  .dog4 {
    font-size: 18px;
    font-weight: 400;
  }
  .dog6 {
    display: none;
  }
  .key4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    gap: 10px;
  }
  .key9 {
    display: none;
  }
  .energy {
    font-size: 30px;
    font-weight: 700;
  }
  .energy2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 314px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
  }
  .dog8 {
    display: none;
  }
  #tugs1 {
    width: 689px;
    height: 368px;
  }
  #tugs2 {
    width: 689px;
    height: 368px;
  }
  #tugs3 {
    width: 689px;
    height: 368px;
  }
  #tugs4 {
    width: 689px;
    height: 368px;
  }
  #tugs5 {
    width: 689px;
    height: 368px;
  }
  #tugs6 {
    width: 689px;
    height: 368px;
  }
  #tugs7 {
    width: 689px;
    height: 368px;
  }
  #tugs8 {
    width: 689px;
    height: 368px;
  }
  #tugs9 {
    width: 689px;
    height: 368px;
  }
  #tugs10 {
    width: 689px;
    height: 368px;
  }
  .button {
    display: block;
    margin: 0px;
  }
}
